<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class = "text-center">
    <div class="container d-flex justify-content-around mt-3">
        <!-- New Author Form -->
        <form action="/add-book" class="form col-3 bg-info p-3" method="post">
            <h1>New Book</h1>
            <div>
                <label for="title" class="col-3">Title: </label>
                <input type="text" name="title" class="col-8" value="Title...">
            </div>
            <div>
                <label for="num_pages" class="col-3">Pages: </label>
                <input type="text" name="num_pages" class="col-8" value="Number of Pages...">
            </div>
            <button type="submit" class="">Create</button>
        </form>
        <!-- List of Current Authors -->
        <div class="card border border-dark shadow p-3 col-3">
            <h1 class="">All Books</h1>
            {% for book in books %}
                <a href="/books/{{book.id}}" class="card-link">{{book.title}}</a>
            {% endfor %}
        </div>
    </div>
    <a href="/authors">Home</a>
</body>
</html>