<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Show</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center mt-3">
    <div class="container d-flex justify-content-around border p-3">
        <!-- Table for Author Favorites -->
        <div class="card border border-dark shadow p-3 col-3">
            <h1 class="">Title: {{book.title}}</h1>
            <h3>Favorited By:</h3>
            {% for author in authors %}
                <a href="/author/{{author.id}}" class="card-link m-auto">{{author.name}}</a>
            {% endfor %}
        </div>

        <!-- Form for Adding New Favorite -->
        <form action="/add-favorited" class="form col-5" method="post">
            <h1>Add Book's Favorite</h1>
            <div class="d-flex justify-content-around mb-3">
                <label for="author">Author: </label>
                <select name="author">
                    <option disabled selected>-- Select Book --</option>
                    {%for author in all_authors%}
                        <option value="{{author.id}}">{{author.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Add Author</button>
            <input type="hidden" name="book" value="{{book.id}}">
        </form>
    </div>
    <div class="">
            <a href="/authors" class="mr-5">Home</a>
            <a href="/books">Books</a>
    </div>

</body>
</html>